body {
  font-family: "Outfit", sans-serif; /* Define a fonte principal como 'Outfit' */
  background-image: url("../imagens/fundo-base.jpg"); /* Define a imagem de fundo do corpo */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
  min-height: 100vh; /* Define uma altura mínima de 100% da altura da janela */
}

.cabecalho {
  text-align: center; /* Alinha o texto ao centro */
  padding: 60px 0; /* Adiciona espaçamento superior e inferior */
}

.cabecalho h1 {
  color: #f1ecff; /* Define a cor do texto */
  font-size: 45px; /* Define o tamanho da fonte */
  letter-spacing: 10px; /* Define o espaçamento entre letras */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.personagens-slider {
  display: flex; /* Define um container flexível */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  gap: 80px; /* Define o espaçamento entre os itens */
}

.lista-personagens {
  width: 330px; /* Define a largura do elemento */
  height: 520px; /* Define a altura do elemento */
  position: relative; /* Define o posicionamento relativo */
}

.btn-seta {
  background-color: #ffffff; /* Define a cor de fundo do botão */
  width: 70px; /* Define a largura do botão */
  height: 70px; /* Define a altura do botão */
  border-radius: 50px; /* Define os cantos arredondados */
  border: 0; /* Remove a borda */
  cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
  display: flex; /* Define um container flexível */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; /* Centraliza os itens horizontalmente */
  transition: background-color 0.2s ease-in-out; /* Adiciona transição para a cor de fundo */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Adiciona uma sombra ao botão */
}

.btn-seta.btn-voltar {
  transform: rotateY(180deg); /* Rotaciona a seta para a direção oposta */
}

.btn-seta:hover {
  background-color: #8351fe; /* Altera a cor de fundo ao passar o cursor */
}

.cartao {
  opacity: 0; /* Define a opacidade inicial como 0 (invisível) */
  height: 100%; /* Define a altura como 100% do elemento pai */
  position: absolute; /* Define o posicionamento absoluto */
  padding: 12px; /* Adiciona preenchimento interno */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Adiciona uma sombra ao cartão */
  border-radius: 10px; /* Define os cantos arredondados */
  transition: opacity 0.3s ease-in-out; /* Adiciona transição para a opacidade */
  
  /* 
    Comentário pra ajudar a entender o flex direction column :) 

    Quando o flex-direction tem valor column
    o justify-content alinha os filhos verticalmente
    e o align-items alinha os filhos horizontalmente
    no caso do flex-direction com valor row é o contrário
  */
  display: flex; /* Define um container flexível */
  flex-direction: column; /* Define a direção dos itens como coluna */
  justify-content: space-between; /* Distribui o espaço entre os itens */
}

.cartao.selecionado {
  opacity: 1; /* Define a opacidade como 1 (visível) */
  z-index: 1; /* Coloca o cartão selecionado acima dos outros */
}

.cartao .imagem-personagem {
  width: 100%; /* Define a largura da imagem como 100% do elemento pai */
  max-height: 280px; /* Define a altura máxima da imagem */
}

.cartao .nome {
  background-color: rgba(179, 177, 185, 0.7); /* Define a cor de fundo com opacidade */
  padding: 8px 10px; /* Adiciona preenchimento interno */
  border-top-left-radius: 10px; /* Define o canto superior esquerdo arredondado */
  border-top-right-radius: 10px; /* Define o canto superior direito arredondado */
  color: #ffffff; /* Define a cor do texto */
  font-size: 16px; /* Define o tamanho da fonte */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  letter-spacing: 5px; /* Define o espaçamento entre letras */
}

.cartao .descricao {
  background-color: rgba(255, 255, 255, 0.8); /* Define a cor de fundo com opacidade */
  border-bottom-left-radius: 10px; /* Define o canto inferior esquerdo arredondado */
  border-bottom-right-radius: 10px; /* Define o canto inferior direito arredondado */
}

.cartao .descricao .titulo {
  background-color: #333333; /* Define a cor de fundo do título */
  font-size: 20px; /* Define o tamanho da fonte */
  color: #ffffff; /* Define a cor do texto */
  padding: 12px; /* Adiciona preenchimento interno */
}

.cartao .descricao .texto {
  font-size: 14px; /* Define o tamanho da fonte */
  padding: 12px; /* Adiciona preenchimento interno */
  text-align: justify; /* Alinha o texto justificado */
  max-height: 110px; /* Define a altura máxima */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
}

.cartao.fundo-1 {
  background: url("../imagens/fundo-1.jpg") no-repeat; /* Define o fundo do cartão */
}

.cartao.fundo-2 {
  background: url("../imagens/fundo-2.jpg") no-repeat; /* Define o fundo do cartão */
}

.cartao.fundo-3 {
  background: url("../imagens/fundo-3.jpg") no-repeat; /* Define o fundo do cartão */
}

.cartao.fundo-4 {
  background: url("../imagens/fundo-4.jpg") no-repeat; /* Define o fundo do cartão */
}

.cartao.fundo-5 {
  background: url("../imagens/fundo-5.jpg") no-repeat; /* Define o fundo do cartão */
}

.cartao.fundo-6 {
  background: url("../imagens/fundo-6.jpg") no-repeat; /* Define o fundo do cartão */
}
